body {
  font-family: verdana, sans-serif;
  width: 960px;
  background-color: white;
  color: #333333; }

#flash.notice {
  color: green;
  font-size: 110%; }

.clearfix {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }

a {
  color: #4169aa; }

a:hover{
  color:#4100aa;}


ul.event_list {
  margin: 10px 0;
  li {
    padding: 2px 10px; } }

#container {
  margin: 20px; }

p {
  margin: 0 0 20px; }

h1 {
  font-size: 138.5%;
  margin-bottom: 20px; }

h2 {
  font-size: 123.1%;
  margin-bottom: 5px; }

h3 {
  font-weight: bold; }

.ui-state-default{
  float: left;
}

table.fixed_expenses td{
  border: thin solid lavender;
}

table.fixed_expenses th{
  background-color: #f5f5f5;
}

table.fixed_expenses  td.description{ width:400px;}
table.fixed_expenses td.amount {
  width: 80px; 
  text-align: right;
  padding: 0 20px;
}


table.fixed_expenses tfoot td{
  padding: 20px;
  font-weight: bold;
}

