body {
  font-family: verdana, sans-serif;
  width: 960px;
  background-color: white;
  color: #333333; 
  font-size: 13px}

#flash.notice {
  color: green;
  font-size: 110%; }

.clearfix {
  zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }



ul.event_list {
  margin: 10px 0;
  li {
    padding: 2px 10px; } }

#container {
  margin: 20px; }

p {
  margin: 0 0 20px; }

h1 {
  font-size: 138.5%;
  margin-bottom: 20px; }

h2 {
  font-size: 123.1%;
  margin-bottom: 5px; }

h3 {
  font-weight: bold; }

.ui-state-default{
  float: left;
}

table td{
  border: thin solid lavender;
}

table th{
  background-color: #f5f5f5;
}

table.tickets td.name {width: 300px}
table.tickets td.price, table.tickets td.capacity {
  text-align: right;
  padding: 0 20px;
}

table.tickets td.price{
  width: 80px;
}

table.tickets td.capacity{
  width: 40px;
}

table.expenses  td.description{ width:400px;}
table.expenses td.amount {
  width: 80px; 
  text-align: right;
  padding: 0 20px;
}


table.expenses tfoot td{
  padding: 20px;
  font-weight: bold;
}

div.expenses .expense{
  clear: both;
  width: 280px;
}

div.expenses .expense a, div.expenses .expense .amount, div.tickets a{
  display: block;
  padding: 20px;
}

div.expenses .expense a, div.tickets a{
  float: left;
}
div.expenses .expense .amount{
  text-align: right;
  float: right;
}
a {
  color: #4169aa; }

a:hover{
  color:#4100aa;}

#ticket_slider{
  width: 600px;
  margin: 20px ;
}
