body {
  font-family: verdana, sans-serif;
  width: 960px;
  background-color: white;
  color: #333333; }

#flash.notice {
  color: green;
  font-size: 110%; }

.clearfix {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }

a {
  color: #c01f25; }

ul.event_list {
  margin: 10px 0;
  li {
    padding: 2px 10px; } }

#container {
  margin: 20px; }

p {
  margin: 0 0 20px; }

h1 {
  font-size: 138.5%;
  margin-bottom: 20px; }

h2 {
  font-size: 123.1%;
  margin-bottom: 5px; }

h3 {
  font-weight: bold; }
