.sales
  %h4 Scenario for #{@scenario.sales} tickets sold

%table.tickets
  %thead
    %th Ticket
    %th Price
    %th Sold
    %th Income
  -@event.tickets.each do |ticket|
    %td.name=ticket.name
    %td.price=money(ticket.price)
    %td.sold= @scenario.tickets_sold[ticket.name]
    %td.income=money(ticket.price *  @scenario.tickets_sold[ticket.name])

.summary
  %ul
    %li
      %span.summary_item Total income
      %span.summary_amount=money(@scenario.total_income)
    %li
      %span.summary_item Total cost
      %span.summary_amount=money(@scenario.total_cost)
    %li
      %span.summary_item Profit
      %span.summary_amount=money(@scenario.profit)

