%h1 #{link_to @event.name, event_path(@event)}: Sponsors
%h2= link_to_function "New Sponsor", "$('#new_sponsor').toggle('blind')"
#new_sponsor{:style=>new_sponsor_style}
  = render 'form', :form_url=>event_sponsors_path(@event)
%h2 Sponsors
-unless @event.sponsors.empty?
  %table.sponsors
    %thead
      %th Name
      %th Price
      %th Tickets
      %th
    %tbody
      -@event.sponsors.each do |sponsor|
        %tr{:class=>cycle('even', 'odd')}
          %td.name=sponsor.name
          %td.price=sponsor.price
          %td.number_of_tickets=sponsor.number_of_tickets
          %td.edit
            =link_to edit_event_sponsor_path(@event.id, sponsor.id) do
              !=jquery_icon('pencil', 'Edit')
            =link_to event_sponsor_path(@event.id, sponsor.id),:method=>:delete, :confirm=>'Remove sponsor?' do
              !=jquery_icon('circle-minus', 'Delete')

